<div id="grid-container">

   <div class="grid-item grid-container-2">
      <div class="item-1"><img src="../../assets/Jeff.jpg" alt="photo1" class ='img' id='img-1'></div>
      <div class="item-2"> <img src="../../assets/Marissa.jpg" alt="photo2" class='img' id='img-2'></div>
      <div class="item-3"><img src="../../assets/satya.jpg" alt="photo3" class='img' id='img-3'></div>
   </div>

   <div class="grid-item item-4"><img src="../../assets/Mark.jpg" alt="photo4" class='img' id='img-4'></div>
   <div class="grid-item item-5"> <img src="../../assets/sundhar.jpg" alt="photo5" class='img' id='img-5'></div>
   <div class="grid-item item-6"><img src="../../assets/Tim.jpg" alt="photo6" class='img' id='img-6'></div>

</div>